@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap');
body{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Nunito', sans-serif;

}
.top-section{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap:5em;
    height: 100vh;
    /* width: auto; */
    margin-top: 0;
    background-color: #222831;
}

.header{
    padding-right: 50px;
    display: flex;
    /* outline:5px solid; */
    justify-content: flex-end;
}
.header ul{
    margin: 10px;
    list-style-type: none;
    display: flex;
    gap :5em;
    /* width: 30%; */
    justify-content: space-between;
    /* outline:3px solid blue; */
}
.header ul li{
    font-size: 30px;
    /* outline:1px solid red; */
    padding:5px;
    font-weight: 550;
}
.header ul li:hover{
    outline: 1px solid;
    border-radius:10px;
}
.header ul li a{
    color: white;
    text-decoration: none;
}
.text-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    width: 100%;
    /* outline:1px solid red; */
}

.text-container h1{
    font-weight: 800;
    font-size: 60px;
}
.text-container p{
    text-align: center;
    font-size: 30px;
}

.text-container button{
    font-family: 'Nunito', sans-serif;
    /* height: 100px; */
    padding: 10px;
    border-radius: 10px;
    font-size: 30px;
    background-color: transparent;

}

.container{
    /* outline: 1px solid ; */
    display: flex;
    padding-left: 50px;
}

.container ul{
    font-size: 30px;

}
.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content{
    height: 100vh;
    background-color: white;
}

.main-content .container{
    height: 100vh;

}
.main-content .container:nth-child(1){
    background-color: rgb(195, 195, 253);
    color: black;

}
.main-content .container:nth-child(2) .text-container{
    color: black;
}

.main-content .container:nth-child(3) .text-container{
    color: black;
}
.main-content .container:nth-child(3){
    background-color: rgb(195, 250, 253);
}