@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew:wght@600&display=swap');

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-image: url(../../assets/img/calculator.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffebde;
}

.abacus {
    display: flex;
    flex-direction: column;
    /* outline:5px solid blue; */
}

.abacus-bar {
    height: 15px;
    border-radius: 10px;
    width: auto;
    background-color: rgb(200, 152, 89);
}

.column-container {
    display: flex;
}

.column {
    position: relative;
    /* outline:1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.bead {
    position: relative;
    border-radius: 50%;
    text-align: center;
    font-size: large;
    box-shadow: inset -3px -2px 3px rgba(0, 0, 0, .5);
    transition: .5s ease-in-out;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.stick {
    position: absolute;
    width: 7px;
    border-radius: 5px;
    /* outline:1px solid blue; */
    background-color: rgb(132, 132, 132);
    box-shadow: inset -3px 1px 1px rgba(0, 0, 0, .5);
    z-index: -1;
    /*place stick behind beads*/
}

@media print {
    .abacus {
        position: absolute;
        top: 0;
    }

    * {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }
}