body{
    margin:10px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.operations{
  height:50px;
  width: 50px;
  outline:3px solid;
}
.submitbtn{
  height: 100px;
  width:100px;
  font-size: large;
  background-color: gray;
}
.container{
    display: flex;
    height: 100%;
    gap:10em;
}

.assist-container{
    width: 500px;
    outline:1px solid;

}

/* abacus css */
.abacus{
    width: 250px;
    display: flex;
    flex-direction: column;
    /* outline:5px solid blue; */
}
.abacus-bar{
  height: 15px;
  border-radius: 10px;
  width: 100%;
  background-color: rgb(200, 152, 89);
  /* box-shadow: 0px 5px 3px rgb(99, 74, 42); */
}
.column-container{
    display: flex;
}
.column{
    position: relative;
    /* outline:1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.counter-container{
    margin-top: 10px;
    height: auto;
    display: flex;
    /* outline: 1px solid; */
}
.counter{
    display: flex   ;
    justify-content: center;
    align-items: center;
    outline: 1px solid;
    font-size: 30px;
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
    background-color: transparent;
    width: 100%;
}
.num1, .num2{
  /* outline: 1px solid red; */
  display: flex;
  color:white;
}
.error-animation{
    animation: blinker 1s linear infinite;
    color: red;
    outline: 2px solid;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
}

.bead{
    position: relative;
    border-radius: 50%;
    text-align: center;
    font-size: large;
    color: white;
    box-shadow: inset -3px -2px 3px rgba(0,0,0,.5);
    transition: .5s ease-in-out;
}

.stick{
    position: absolute;
    width: 7px;
    border-radius: 5px;;
    /* outline:1px solid blue; */
    background-color: rgb(132, 132, 132);
    box-shadow: inset -3px 1px 1px rgba(0,0,0,.5);
    z-index:-1; /*place stick behind beads*/
}
